{% extends 'base.html' %}

{% block content %}
    <h1>Vehicles</h1>
    <div class="row">
         {% for vehicle in vehicles %}
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ vehicle.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ vehicle.vehicle_id }}</h5>
                    <p class="card-text">{{ vehicle.vehicle_type }}</p>
                    <a href="#" class="btn btn-primary">Start PMCS</a>
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
{% endblock %}