{% extends 'base.html' %}

{% block content %}

<p>{{ object.interval }}</p>
<p>{{ object.location_item_to_check }}</p>
<p>{{ object.crewmember_procedure }}</p>
<p>{{ object.nfmc_if }}</p>
<button style="background-color: #daad86;color: white;width: 250px;height:50px;margin-top: 10px" onclick="submitPoll(id);" id="myButton" class="float-left submit-button" >Next</button>

<script>


function submitPoll(id){
    document.getElementById("myButton").disabled = true;
    setTimeout(function(){alert('You need to complete this task in 2 minutes, not less')},300);
    setTimeout(function(){document.getElementById("myButton").disabled = false;alert('Task Complete!');window.location.href="/training_manual/{{ object_list.id }}";},60000);
  }
</script>
{% endblock %}