{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<h1>{{ ct }}</h1>
<h1>Vehicles</h1>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://www.swapmeetdave.com/Pics/TM11-5820-401.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ vehicle.vehicle_id }}</h5>
                <p class="card-text">{{ vehicle.vehicle_type }}</p>
                <a href="/training_manual/1/" class="btn btn-primary">Start PMCS</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}